@attribute [Route(Navigation.Url.Auth)]
@attribute [Authorize]
@rendermode InteractiveAuto
@using Microsoft.AspNetCore.Authorization
@using BlazorMultiUser.Shared

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>