@attribute [Route(Navigation.Url.AccountAccessDenied)]
@using BlazorMultiUser.Shared


<PageTitle>Access denied</PageTitle>

<FluentCard Width="320px" Height="120px">
    <h1>Access denied</h1>
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" >
        <FluentIcon Value="@(new Icons.Regular.Size16.Warning())" Color="Color.Warning" />
        <span>You do not have access to this resource.</span>
    </FluentStack>
    
</FluentCard>